.vscode/
.DS_Store
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
# *.test

# anything with test in the name except for test cases
*test*
!*test.go
!api/cf/python_scripts/test/

# secrets
*.env

# saved json for testing
json
json/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# python
__pycache__/
*.pyc
venv/

# cf bypasser logs
api/cf/**/*.log
api/cf/**/volume/
api/cf/python_scripts/extensions/Navigator/navigator.js
